langchain==0.3.8
langchain-core==0.3.12
langchain-community==0.3.2
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
faiss-cpu
gradio==4.44.0
gradio-client==1.3.0
tavily-python
beautifulsoup4
pandas
numpy
